@import '../media';

.homeBannerSection {
    position: relative;
    padding: 80px 105px;

    @include Small-Laptop {
        padding: 80px 32px;
    }

    & h1 {
        font-style: normal;
        font-weight: 400;
        font-size: 55px;
        line-height: 55px;
        text-align: center;
        color: #FFFFFF;
        width: 650px;
        margin: 0 auto;

        @include Small-Tablet {
            width: 100%;
        }

        & span {
            color: #F2BF8E;
        }
    }

    & img {
        &.mainImg {
            width: 522px;
            height: 522px;
            object-fit: contain;
            margin: 50px auto 0;
            display: block;

            @include Small-Tablet {
                width: 100%;
                height: 100%;
            }
        }
    }

    & ul {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        right: 0;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 10px;

        @include Tablet {
            position: relative;
            top: auto;
            transform: none;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            margin-top: 50px;
        }

        & li {
            display: inline-flex;

            @include Tablet {
                flex: 0 0 40%;
                max-width: 40%;
            }

            @include Small-Tablet {
                flex: 0 0 49%;
                max-width: 49%;
            }

            @include Mobile {
                flex: auto;
                max-width: auto;
                display: inline-block;
            }

            & span {
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 28px;
                color: #000000;
                position: relative;
                padding: 10px 35px;
                min-width: 170px;
                display: block;
                text-align: center;

                @include Small-Tablet {
                    line-height: 18px;
                    margin-left: auto;
                    min-width: 100%;
                }

                @include Mobile {
                    font-size: 18px;
                    min-width: 180px;
                }

                @include Small-Mobile {
                    min-width: 150px;
                }


                &::before {
                    content: "";
                    background-image: url("../../image/bg_left.svg");
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -4px;
                    left: 0;
                    width: 13px;
                    height: 100%;
                }

                &::after {
                    content: "";
                    background-image: url("../../image/bg_right.svg");
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -4px;
                    right: 0;
                    width: 13px;
                    height: 100%;
                }

                & .yl_bg {
                    background-color: #F2BF8E;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    border-radius: 10px;

                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 14px;
                        clip-path: polygon(47% 0, 80% 0%, 100% 100%, 100% 100%);
                        background-color: #030303;
                        z-index: 1;
                        width: 13px;
                        height: 5px;
                    }

                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 30px;
                        clip-path: polygon(47% 0, 90% 0%, 100% 100%, 100% 100%);
                        background-color: #030303;
                        z-index: 1;
                        width: 15px;
                        height: 5px;
                    }

                    & span {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 38%;
                        transform: translateX(-50%);
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        background-color: #030303;
                        z-index: 1;
                        width: 8px;
                        height: 4px;
                        padding: 0;
                        width: auto;
                        min-width: 8px;
                    }
                }
            }

            &:nth-child(even) {
                text-align: right;

                & span {
                    margin-left: auto;
                }
            }

            &:first-child {
                margin-bottom: 60px;

                @include Tablet {
                    margin-bottom: 20px;
                }
            }

            &:nth-child(2) {
                margin-bottom: 60px;

                @include Tablet {
                    margin-bottom: 20px;
                }
            }

            &:last-child {
                padding-right: 15%;

                @include Big-Tablet {
                    padding-right: 5%;
                }
            }

            &:nth-last-child(2) {
                padding-left: 17%;

                @include Big-Tablet {
                    padding-left: 5%;
                }
            }
        }
    }
}