@import '../media';

.mintCalculationSection {
    padding: 70px 105px 0;

    @include Small-Laptop {
        padding: 70px 32px 0;
    }

    @include Mobile {
        padding: 60px 32px 0;
    }

    & .heading {
        text-align: center;

        & img {
            width: 56px;
            height: 40px;
            object-fit: contain;
            margin: 0 auto 20px;

            @include Mobile {
                width: 43px;
                height: 31px;
                margin: 0 auto 14px;
            }
        }

        & h3 {
            font-style: normal;
            font-weight: 400;
            font-size: 55px;
            line-height: 55px;
            text-align: center;
            color: #FFF1E3;

            @include Mobile {
                font-size: 30px;
                line-height: 30px;
            }

            & span {
                color: #F2BF8E;
                @include Small-Tablet {
                    display: block;
                }
            }
        }
    }

    & .priceSection {
        margin-top: 47px;
        text-align: center;

        @include Mobile {
            margin-top: 37px;
        }

        & h4 {
            font-family: 'Gotham Condensed', sans-serif;
            font-style: normal;
            font-weight: 700;
            font-size: 40px;
            line-height: 43px;
            text-align: center;
            letter-spacing: 0.03em;
            color: #FFFFFF;

            @include Mobile {
                font-size: 24px;
                line-height: 26px;
            }

            & span {
                color: #F2BF8E;
            }
        }

        & .numbers {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 18px;
            margin-bottom: 46px;

            @include Small-Tablet {
                display: block;
            }
    
            & .inputNumber {
                margin-right: 60px;

                @include Small-Tablet {
                    margin-right: 0;
                    margin-bottom: 20px;
                }
    
                & button {
                    background: #030303;
                    border: 2.5px solid #F2BF8E;
                    width: 67px;
                    height: 67px;
                    font-family: 'Gotham Condensed', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 38px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-right: 26px;
                    transition: all 0.3s ease-in-out;

                    @include Mobile {
                        width: 43px;
                        height: 43px;
                        font-size: 24px;
                        line-height: 24px;
                    }
                    
                    &:last-child {
                        margin-right: 0;
                        margin-left: 26px;
                    }
    
                    &:hover {
                        background-color: #F2BF8E;
                    }
                }
    
                & input {
                    background: transparent;
                    border: none;
                    width: 67px;
                    height: 67px;
                    font-family: 'Gotham Condensed', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 38px;
                    color: #FFFFFF;
                    text-align: center;

                    @include Mobile {
                        width: 43px;
                        height: 43px;
                        font-size: 24px;
                        line-height: 24px;
                    }
                }
            }
    
            & .inputSuggetion {
                & button {
                    background: #030303;
                    border: 2.5px solid #F2BF8E;
                    width: 67px;
                    height: 67px;
                    font-family: 'Gotham Condensed', sans-serif;
                    font-style: normal;
                    font-weight: 500;
                    font-size: 36px;
                    line-height: 38px;
                    color: #FFFFFF;
                    text-align: center;
                    margin-right: 26px;
                    transition: all 0.3s ease-in-out;

                    @include Mobile {
                        width: 43px;
                        height: 43px;
                        font-size: 24px;
                        line-height: 24px;
                    }
    
                    &:last-child {
                        margin-right: 0;
                    }
    
                    &:hover {
                        background-color: #F2BF8E;
                    }
                }
            }
    
           
        }
    
        & .Wallet {
            display: inline-block;
            & span {
                font-style: normal;
                font-weight: 400;
                font-size: 28px;
                line-height: 28px;
                color: #000000;
                position: relative;
                padding: 10px 35px;
                min-width: 170px;
                display: block;
                text-align: center;
    
                @include Small-Tablet {
                    line-height: 18px;
                    margin-left: auto;
                    min-width: 100%;
                }
    
                @include Mobile {
                    font-size: 18px;
                    min-width: 180px;
                }
    
                @include Small-Mobile {
                    min-width: 150px;
                }
    
    
                &::before {
                    content: "";
                    background-image: url("../../image/bg_left.svg");
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -4px;
                    left: 0;
                    width: 13px;
                    height: 100%;
                }
    
                &::after {
                    content: "";
                    background-image: url("../../image/bg_right.svg");
                    background-size: cover;
                    background-position: center center;
                    background-repeat: no-repeat;
                    position: absolute;
                    top: -4px;
                    right: 0;
                    width: 13px;
                    height: 100%;
                }
    
                & .yl_bg {
                    background-color: #F2BF8E;
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    z-index: -1;
                    border-radius: 10px;
    
                    &::before {
                        content: "";
                        position: absolute;
                        top: 0;
                        left: 14px;
                        clip-path: polygon(47% 0, 80% 0%, 100% 100%, 100% 100%);
                        background-color: #030303;
                        z-index: 1;
                        width: 13px;
                        height: 5px;
                    }
    
                    &::after {
                        content: "";
                        position: absolute;
                        top: 0;
                        right: 30px;
                        clip-path: polygon(47% 0, 90% 0%, 100% 100%, 100% 100%);
                        background-color: #030303;
                        z-index: 1;
                        width: 15px;
                        height: 5px;
                    }
    
                    & span {
                        content: "";
                        position: absolute;
                        bottom: 0;
                        left: 38%;
                        transform: translateX(-50%);
                        clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                        background-color: #030303;
                        z-index: 1;
                        width: 8px;
                        height: 4px;
                        padding: 0;
                        width: auto;
                        min-width: 8px;
                    }
                }
            }
        }
    }

    
}