@import "scss/font";
@import "scss/media";

@import "scss/backgroundImg";
@import "scss/header";
@import "scss/home/banner";
@import "scss/lore/main";
@import "scss/lawOfTheLand/main";
@import "scss/roundtable/faq";
@import "scss/roundtable/slider";
@import "scss/mint/main";
@import "scss/mint/minSlider";
@import "scss/footer";

body {
  background: #030303;
  overflow: auto;
  font-family: "Chloe", sans-serif;
  // padding: 0 105px;

  // @include Small-Laptop {
  //   padding: 0 32px;
  // }
}

.container-fluid {
  @include Laptop {
    max-width: 1900px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 0;
}

a,
a:hover {
  text-decoration: none;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.playBtn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  background-color: #f2bf8e;
  width: 180px;
  height: 50px;
  font-size: 20px;
  line-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #030303;
  border-radius: 10px;
  border: none;
  animation: zoom-in-zoom-out 1s ease;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

.tagline {
  font-size: 50px;
  line-height: 60px;
  color: #f2bf8e;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  text-align: center;

  @include Mobile {
    font-size: 25px;
    line-height: 35px;
  }
}

.tracking-in-expand-fwd-top {
  -webkit-animation: tracking-in-expand-fwd-top 0.8s
    cubic-bezier(0.215, 0.61, 0.355, 1) both;
  animation: tracking-in-expand-fwd-top 0.8s cubic-bezier(0.215, 0.61, 0.355, 1)
    both;
}

@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(-50%) translateY(-50%);
    transform: translateZ(-50%) translateY(-50%);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-500px);
    transform: translateZ(-700px) translateY(-500px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(-50%) translateY(-50%);
    transform: translateZ(-50%) translateY(-50%);
    opacity: 1;
  }
}
