@font-face {
    font-family: Chloe;
    src: url("../font/Chloe-Regular.otf") format("otf"), url("../font/Chloe-Regular.otf") format("truetype");
}

@font-face {
    font-family: Gotham Condensed Book;
    src: url("../font/GothamCondensed-Book.otf") format("otf"), url("../font/GothamCondensed-Book.otf") format("truetype");
}

@font-face {
    font-family: Gotham Condensed Medium;
    src: url("../font/GothamCondensed-Medium.otf") format("otf"), url("../font/GothamCondensed-Medium.otf") format("truetype");
}

@font-face {
    font-family: Gotham Condensed;
    src: url("../font/GothamCondensed-Bold.otf") format("otf"), url("../font/GothamCondensed-Bold.otf") format("truetype");
}