@import "../media";

.roundtableFaqSection {
  margin-top: 50px;
  padding: 0 105px;

  @include Small-Laptop {
    padding: 0 32px;
  }

  @include Mobile {
    margin-top: 90px;
  }

  & h3 {
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 55px;
    color: #ffffff;
    margin-bottom: 54px;
    text-align: center;

    @include Big-Tablet {
      font-size: 40px;
      line-height: 40px;
    }

    @include Mobile {
      font-size: 30px;
      line-height: 30px;
      margin-bottom: 20px;
    }

    & span {
      color: #f2bf8e;
    }
  }

  & .accordion {
    border: none;
    border-radius: 0;
    & .accordion__item {
      margin-bottom: 46px;
      position: relative;
      padding: 0 86px;

      @include Big-Tablet {
        margin-bottom: 30px;
      }

      @include Tablet {
        padding: 0 50px;
      }

      @include Mobile {
        padding: 0;
        margin-bottom: 20px;
      }

      &:last-child {
        margin-bottom: 90px;

        @include Big-Tablet {
          margin-bottom: 60px;
        }

        @include Mobile {
          padding: 0;
          margin-bottom: 40px;
        }
      }

      &::before {
        content: "";
        background-image: url("../../image/faqLine.svg");
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 15px;
        left: 0;

        @include Mobile {
          content: none;
        }
      }

      & .accordion__heading {
        & .accordion__button {
          background-color: #f2bf8e;
          backdrop-filter: blur(50px);
          padding: 39px 90px 39px 63px;
          border-radius: 20px 40px 0 0;
          font-style: normal;
          font-weight: 400;
          font-size: 36px;
          line-height: 36px;
          color: #000000;
          position: relative;

          @include Big-Tablet {
            font-size: 26px;
            line-height: 26px;
            padding: 39px 50px 39px 30px;
          }

          @include Tablet {
            padding: 20px 70px 20px 30px;
          }

          @include Mobile {
            font-size: 14px;
            line-height: 14px;
            border-radius: 5px 10px 0 0;
            padding: 16px 40px 16px 15px;
          }

          &::before {
            background-image: url("../../image/faqArrow.svg");
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center center;
            width: 30px;
            height: 40px;
            border: none;
            transform: rotate(0deg);
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            right: 60px;
            margin-right: 0;

            @include Big-Tablet {
              width: 20px;
              height: 30px;
              top: 50%;
              right: 40px;
            }

            @include Mobile {
              width: 10px;
              height: 20px;
              right: 25px;
            }
          }

          &[aria-expanded="true"],
          &[aria-selected="true"] {
            &::before {
              transform: rotate(180deg);
              top: 32%;
            }
          }
        }
      }
      & .accordion__panel {
        background-color: #f2bf8e;
        backdrop-filter: blur(50px);
        padding: 0 63px 50px;
        animation: none;

        @include Mobile {
          padding: 0 16px 16px 16px;
        }

        & ol {
          padding-left: 24px;
          margin-bottom: 0;

          @include Mobile {
            padding-left: 18px;
          }

          & li {
            font-family: "Gotham Condensed Book", sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 30px;
            line-height: 31px;
            letter-spacing: 0.05em;
            color: #030303;
            margin-bottom: 10px;

            @include Mobile {
              font-size: 15px;
              line-height: 16px;
              margin-bottom: 5px;
            }

            & span {
              display: block;
            }

            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
}

.roundtableFaqSection {
  padding-top: 200px;
  .container-fluid {
    .row {
      .col-md-12 {
        .accordion {
          .accordion__item {
            .accordion__heading {
              .accordion__button {
              }
            }
            .AccordionItemPanel {
              ol {
                li {
                }
              }
            }
          }
        }
      }
    }
  }
}
