@import "../media";

.roundtableSliderSection {
  padding: 60px 105px 20px;

  @include Small-Laptop {
    padding: 60px 32px 20px 0;
  }

  @include for-phone-only {
    .roundtableSliderSection {
      padding: 60px 0 20px 0;
    }
  }

  & .roundSlider {
    // margin-left: -120px;
    // width: (calc(100% + 240px));
    position: relative;

    & .roundImg {
      & img {
        width: 500px;
        height: 500px;
        object-fit: contain;
        object-position: left;
      }
    }

    & .ring {
      position: absolute;
      top: 0;
      left: 0;

      .carousel {
        position: relative;
        width: 364px;
        height: 364px;
        border: 2px solid;
        border-radius: 100%;
        margin-left: -138px;
        transition: 0.5s;
        // transform: rotate(15deg);
      }

      .carousel::before {
        /* content: ""; */
        position: absolute;
        width: 50%;
        height: 100%;
        background: #000;
        border-radius: 50% 0 0 50%;
      }

      // с = 2 Pr
      .item-carousel {
        position: absolute;
        border-radius: 50%;
        background: #fff;
        width: 100px;
        height: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        margin: 2px;
        bottom: 0;
        transition: 0.5s;
        opacity: 0;
        background: linear-gradient(
          180deg,
          rgba(242, 191, 142, 0.63) 0%,
          rgba(242, 191, 142, 0) 100%
        );

        & img {
          width: 80px;
          height: 80px;
          object-fit: contain;
          object-position: center center;
        }

        &.next {
          opacity: 0.5;
        }

        &.prevNext {
          opacity: 0.3;
        }

        &.lastNext {
          opacity: 0.3;
        }

        &.prev {
          opacity: 0.5;
        }

        &.active {
          opacity: 1;
        }

        &:nth-child(1) {
          right: -19px;
          top: 101px;
        }
        &:nth-child(2) {
          right: -17px;
          top: 213px;
        }
        &:nth-child(3) {
          right: 49px;
          top: 303px;
        }
        &:nth-child(4) {
          right: 156px;
          top: 337px;
        }
        &:nth-child(5) {
          right: 263px;
          top: 302px;
        }
        &:nth-child(6) {
          right: 330px;
          top: 210px;
        }
        &:nth-child(7) {
          right: 330px;
          top: 100px;
        }
        &:nth-child(8) {
          right: 263px;
          top: 7px;
        }
        &:nth-child(9) {
          right: 156px;
          top: -27px;
        }
        &:nth-child(10) {
          right: 48px;
          top: 6px;
        }
      }
    }
  }
}

.roundtableSliderSection {
  padding: 0;
  .container-fluid {
    padding-left: 0;
    padding-right: 0;
    .row {
      .col-md-6 {
        padding-right: 0;
        padding-left: 0;
        .roundSlider {
          .roundImg {
            img {
              width: 316px;
              height: 316px;
            }
          }
          .ring {
            .test {
            }
            .carousel {
              // border: none;
            }
          }
        }

        .contant {
          display: flex;
          justify-content: space-between;
          padding: 60px 32px;
          .text {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            color: #fff;
            img {
              max-width: 30%;
              max-height: 30%;
            }
            p {
              font-size: 20px;
              line-height: 21.5px;
              color: #f2bf8e;
              font-family: "Gotham ";
            }
            h5 {
              font-size: 28px;
              line-height: 28px;
            }
          }
          button {
            background-color: transparent;
            border: none;
            padding: 0;
            img {
              transform: rotate(-90deg);
              width: 50%;
            }
          }
        }
      }
    }
  }
}

.roundtableFaqSection {
  margin: 0;
}

@media (min-width: 1028px) {
  .roundtableSliderSection {
    padding: 0;
    padding-top: 100px;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      .row {
        gap: 100px;
        .col-md-6 {
          padding-right: 0;
          padding-left: 0;
          // margin-left: 200px;
          .roundSlider {
            .roundImg {
              img {
                width: 400px;
                height: 400px;
              }
            }
            .ring {
              top: 46px;
              left: 84px;
              .test {
              }
              .carousel {
                border: none;
                width: 300px;
                height: 300px;
                border-color: #fff;
                .item-carousel {
                  opacity: 1;
                  img {
                  }
                }
                .active {
                  width: 120px;
                  height: 120px;
                  img {
                    width: 120px;
                    height: 120px;
                  }
                }
                .next {
                  width: 100px;
                  height: 100px;
                  img {
                    width: 100px;
                    height: 100px;
                  }
                }
                .prev {
                  width: 100px;
                  height: 100px;
                  img {
                    width: 100px;
                    height: 100px;
                  }
                }
                .undefined {
                  width: 80px;
                  height: 80px;
                  img {
                    width: 80px;
                    height: 80px;
                  }
                }
                .item-carousel:nth-child(1) {
                  right: -112px;
                  top: 21px;
                }
                .item-carousel:nth-child(2) {
                  right: -116px;
                  top: 152px;
                }
                .item-carousel:nth-child(3) {
                  right: -35px;
                  top: 256px;
                }
                .item-carousel:nth-child(4) {
                  right: 87px;
                  top: 297px;
                }
                .item-carousel:nth-child(5) {
                  right: 213px;
                  top: 255px;
                }
                .item-carousel:nth-child(6) {
                  right: 286px;
                  top: 149px;
                }
                .item-carousel:nth-child(7) {
                  right: 287px;
                  top: 18px;
                }
                .item-carousel:nth-child(8) {
                  right: 205px;
                  top: -88px;
                }
                .item-carousel:nth-child(9) {
                  right: 80px;
                  top: -123px;
                }
                .item-carousel:nth-child(10) {
                  right: -41px;
                  top: -81px;
                }
              }
            }
          }

          .contant {
            display: flex;
            flex-direction: column;
            padding: 0 32px 60px 32px;
            gap: 30px;
            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              gap: 5px;
              color: #fff;
              img {
                max-width: 12%;
                max-height: 12%;
                padding-bottom: 30px;
              }
              p {
                font-size: 30px;
                line-height: 33px;
                color: #f2bf8e;
                font-family: "Gotham ";
              }
              h5 {
                font-size: 48px;
                line-height: 48px;
              }
            }
            button {
              background-color: transparent;
              border: none;
              padding: 0;
              img {
                transform: unset;
                width: 5%;
              }
            }
          }
        }
      }
    }
  }
}
@media (min-width: 1536px) {
  .roundtableSliderSection {
    padding: 0;
    padding-top: 160px;
    .container-fluid {
      padding-left: 0;
      padding-right: 0;
      .row {
        gap: 100px;
        .col-md-6 {
          padding-right: 0;
          padding-left: 0;
          // margin-left: 200px;
          .roundSlider {
            .roundImg {
              img {
                width: 590px;
                height: 590px;
              }
            }
            .ring {
              top: 72px;
              left: 64px;
              .test {
              }
              .carousel {
                border: none;
                width: 450px;
                height: 450px;
                border-color: #fff;
                .item-carousel {
                  opacity: 1;
                  img {
                  }
                }
                .active {
                  width: 180px;
                  height: 180px;
                  img {
                    width: 180px;
                    height: 180px;
                  }
                }
                .next {
                  width: 140px;
                  height: 140px;
                  img {
                    width: 140px;
                    height: 140px;
                  }
                }
                .prev {
                  width: 140px;
                  height: 140px;
                  img {
                    width: 140px;
                    height: 140px;
                  }
                }
                .undefined {
                  width: 100px;
                  height: 100px;
                  img {
                    width: 100px;
                    height: 100px;
                  }
                }
                .item-carousel:nth-child(1) {
                  right: -169px;
                  top: 22px;
                }
                .item-carousel:nth-child(2) {
                  right: -170px;
                  top: 219px;
                }
                .item-carousel:nth-child(3) {
                  right: -60px;
                  top: 385px;
                }
                .item-carousel:nth-child(4) {
                  right: 128px;
                  top: 446px;
                }
                .item-carousel:nth-child(5) {
                  right: 313px;
                  top: 389px;
                }
                .item-carousel:nth-child(6) {
                  right: 431px;
                  top: 235px;
                }
                .item-carousel:nth-child(7) {
                  right: 436px;
                  top: 37px;
                }
                .item-carousel:nth-child(8) {
                  right: 323px;
                  top: -118px;
                }
                .item-carousel:nth-child(9) {
                  right: 134px;
                  top: -186px;
                }
                .item-carousel:nth-child(10) {
                  right: -50px;
                  top: -128px;
                }
              }
            }
          }

          .contant {
            display: flex;
            flex-direction: column;
            padding: 60px 32px;
            gap: 30px;
            .text {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              align-items: center;
              gap: 5px;
              color: #fff;
              img {
                max-width: 30%;
                max-height: 30%;
                padding-bottom: 15px;
              }
              p {
                font-size: 40px;
                line-height: 43px;
                color: #f2bf8e;
                font-family: "Gotham ";
              }
              h5 {
                font-size: 55px;
                line-height: 55px;
              }
            }
            button {
              background-color: transparent;
              border: none;
              padding: 0;
              img {
                transform: unset;
                width: 5%;
              }
            }
          }
        }
      }
    }
  }
}
